// required for vue-devtools
// @use "/node_modules/vite-plugin-vue-devtools/src/overlay/devtools-overlay.css";
// can i import a regular css file?
@import "./tailwind.css";

.description {
	font-size: 1rem; /* text-base */
	padding: 10px 80px 20px 20px;
}

h1,
h2,
h3,
p {
	margin: 0;
	color: var(--color-primary-content); /* text-primary-content*/
}

hr {
	margin-top: 0.25rem; /* my-1 */
	margin-bottom: 0.25rem;
}

h1 {
	font-size: 1.5rem; /* text-2xl */
	font-weight: 700; /* font-bold */
}

h2 {
	font-size: 1.25rem; /* text-xl */
	font-weight: 600; /* font-semibold */
}

h3 {
	font-size: 1.125rem; /* text-lg */
}

.btn {
	font-size: 1.25rem; /* text-xl */
	height: 2.25rem; /* h-9 */
	line-height: 2.25rem; /* leading-9 */
}

p {
	font-size: 1.5rem; /* text-2xl */
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #212121;
}
::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 5px;
}
