@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
	--color-netflix: #e60010;
	--color-amazon: #00aeef;
	--color-disney: #1d1fff;
	--color-crunchyroll: #f78b24;
}

@plugin "daisyui";
@plugin "daisyui/theme" {
	name: "light";
	default: false;
	prefersdark: false;
	color-scheme: light;

	--color-primary: #fff;
	--color-primary-content: #000;
	--color-secondary: #0082fc;
	--color-secondary-content: #fff;
}

@plugin "daisyui/theme" {
	name: "dark";
	default: true;
	prefersdark: true;
	color-scheme: dark;

	--color-primary: #242424;
	--color-primary-content: #fff;
	--color-secondary: #0082fc;
	--color-secondary-content: #fff;
	--color-accent: #00ffff;
	--color-neutral: #161616;
	--color-base-100: #212121;
	--color-error-content: #fff;
}
