html,
body {
  width: 400px;
  background-color: #212121;
}
div {
  color: white;
}
.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.beast:hover {
  background-color: #cff2f2;
}

.beast {
  background-color: #e5f2f2;
}

.reset {
  background-color: #5485ad;
}

.reset:hover {
  background-color: #5280a5;
}
.flex {
  display: flex;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: auto;
}
.line {
  padding: 10px 10px;
}
p {
  color: white;
  font-size: 1.4em;
  padding-right: 10px;
}
